{% extends 'base.html.twig' %}

{% block title %}
	{% if routeName == 'ajouterclub' %}
		Ajouter
	{%  else %}
		Editer
	{% endif %}
	un club
{% endblock %}
{% block body %}

	<h1 class="text-center text-white">
		{% if routeName == 'ajouterclub' %}
			Ajouter
		{%  else %}
			Editer
		{% endif %}
		un club
	</h1>
	{{ form_start(form) }}

	<div class="col-7 mx-auto mt-3 p-4 text-white">

		<div class="col mb-3">
			{{ form_row(form.nom) }}
		</div>
		<div class="col mb-3">
			{{ form_row(form.entraineur) }}
		</div>
		<div class="col mb-3">
			{{ form_row(form.points) }}
		</div>
		<div class="col mb-3">
			{{ form_row(form.stade) }}
		</div>
		<div class="col mb-3">
			{{ form_row(form.groupe) }}
		</div>
		<div class="form-group">
			<label for="championnat">
				Championnat
			</label>
			<select name="championnat" class="form-control my-2">
				{% if routeName == 'ajouterclub' %}
					{% for championnat in championnats %}
						<option value="{{ championnat.id }}">
							{{ championnat.nom }}
						</option>
					{% endfor %}
				{% else %}
					{% for championnat in championnats %}
						<option value="{{ championnat.id }}" {% if club.championnat.id == championnat.id %} selected {% endif %}>
							{{ championnat.nom }}
						</option>
					{% endfor %}

				{% endif %}
			</select>
		</div>


		<div class="text-center my-3">
			<button class="btn btn-warning" type="submit">
				Enregistrer
			</button>
		</div>
	</div>
	{{ form_end(form) }}


{% endblock %}
